<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leilei.mapper.VehicleAlarmMapper">
  <resultMap id="BaseResultMap" type="com.leilei.entity.VehicleAlarm">
    <!--@mbg.generated-->
    <!--@Table vehicle_alarm-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="license_plate" jdbcType="VARCHAR" property="licensePlate" />
    <result column="plate_color" jdbcType="VARCHAR" property="plateColor" />
    <result column="device_time" jdbcType="BIGINT" property="deviceTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, license_plate, plate_color, device_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from vehicle_alarm
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from vehicle_alarm
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.leilei.entity.VehicleAlarm" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into vehicle_alarm (license_plate, plate_color, device_time
      )
    values (#{licensePlate,jdbcType=VARCHAR}, #{plateColor,jdbcType=VARCHAR}, #{deviceTime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.leilei.entity.VehicleAlarm" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into vehicle_alarm
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="licensePlate != null">
        license_plate,
      </if>
      <if test="plateColor != null">
        plate_color,
      </if>
      <if test="deviceTime != null">
        device_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="licensePlate != null">
        #{licensePlate,jdbcType=VARCHAR},
      </if>
      <if test="plateColor != null">
        #{plateColor,jdbcType=VARCHAR},
      </if>
      <if test="deviceTime != null">
        #{deviceTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.leilei.entity.VehicleAlarm">
    <!--@mbg.generated-->
    update vehicle_alarm
    <set>
      <if test="licensePlate != null">
        license_plate = #{licensePlate,jdbcType=VARCHAR},
      </if>
      <if test="plateColor != null">
        plate_color = #{plateColor,jdbcType=VARCHAR},
      </if>
      <if test="deviceTime != null">
        device_time = #{deviceTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.leilei.entity.VehicleAlarm">
    <!--@mbg.generated-->
    update vehicle_alarm
    set license_plate = #{licensePlate,jdbcType=VARCHAR},
      plate_color = #{plateColor,jdbcType=VARCHAR},
      device_time = #{deviceTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>