#----Redis Cluster 集群--------------------------
#spring:
#  redis:
#    timeout: 15000  #连接超时时间
#    password: Redis123  #密碼
#    cluster:
#      max-redirects: 6   # 获取失败 最大重定向次数
#      nodes:  #Redis集群的节点
#        - 192.168.10.92:7000
#        - 192.168.10.92:7001
#        - 192.168.10.92:7002
#        - 192.168.10.92:7003
#        - 192.168.10.92:7004
#        - 192.168.10.92:7005
#    lettuce:  #连接池使用lettuce lettuce主要利用netty实现与redis的同步和异步通信可多个线程间并发访问，是线程安全的 jedis在多线程环境下是非线程安全的
#      pool:
#        max-active: 1000  #连接池最大连接数（使用负值表示没有限制） 默认8
#        max-idle: 10 # 连接池中的最大空闲连接 默认8
#        min-idle: 5 # 连接池中的最小空闲连接 默认8
#        max-wait: -1 # 连接池最大阻塞等待时间（使用负值表示没有限制）

#---Redis 单机版------------
spring:
  redis:
    host: 127.0.0.1
    port: 6379
    password:  # 密码 没有则可以不填
    database: 1  # 单机可以选择数据库 默认为0 redis集群不支持存储库选择 只能为0
    # 使用lettuce连接池
    lettuce:
      pool:
        max-active: 8  # 最大活跃链接数 默认8（使用负值表示没有限制）
        max-idle: 8 # 最大空闲连接数 默认8
        min-idle: 0 # 最小空闲连接数 默认0
        max-wait: -1 # 连接池最大阻塞等待时间（使用负值表示没有限制）
