<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leilei.mapper.two.UserRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.leilei.entity.two.UserRole">
        <id column="user_id" property="userId" />
        <result column="role_id" property="roleId" />
    </resultMap>

</mapper>
