<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leilei.mapper.two.UserMapper">
  <resultMap id="BaseResultMap" type="com.leilei.entity.two.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="card_id" jdbcType="VARCHAR" property="cardId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.leilei.entity.two.User" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
    insert into user (id, username, card_id
      )
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{cardId,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.leilei.entity.two.User">
    update user
    set username = #{username,jdbcType=VARCHAR},
      card_id = #{cardId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, username, card_id
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, username, card_id
    from user
  </select>
</mapper>